.u-section-1 {
  min-height: 1574px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  width: calc(((100% - 1140px) / 2) + 636px);
  height: 1205px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 881px;
  height: 624px;
  margin: -1167px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 848px;
  min-height: 640px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  height: auto;
  margin: -341px auto 60px calc(((100% - 1140px) / 2) + -14px);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 20px 0 15px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 640px;
  height: auto;
  width: 710px;
  margin: 1px 20px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 636px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1460px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 636px);
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 510px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: -227px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1333px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 383px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -100px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 530px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1191px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 241px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 42px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 330px;
  }
}::-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
} 
input {
  outline: none;
}
h1{
  font-size: 48px;
  color: #066a75;
  padding: 0px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}
p{
  margin-bottom:15px;
}
p:first-child{
  margin: 0px;
}
label{
  color: #405c60;
  position: relative;
}
.link a {
  font-weight: bold;
  padding: 6px;
  color: rgb(29, 162, 193);
  -webkit-border-radius: 4px;
  border-radius: 4px;  
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}
.link a:hover {
  color: #39bfd7;
  border: 1px solid #4ab3c6;
}