<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Welcome!, Welcome!">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Chat</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Chat.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.20.4, nicepage.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="chat.css">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/default-logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Chat">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-header" id="sec-7d00" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40">
          <img src="images/default-logo.png" class="u-logo-image u-logo-image-1" data-image-width="80">
        </a>
        <nav data-position="" class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#" style="padding: 2px 0px; font-size: calc(1em + 4px);">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-20 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Login.html" style="padding: 10px;">Login</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Home.html" style="padding: 10px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="Perfil.html" style="padding: 10px;">Perfil</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="chat.html" style="padding: 10px;">Chat</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Login.html" style="padding: 10px 0px;">Login</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html" style="padding: 10px 0px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Perfil.html" style="padding: 10px 0px;">Perfil</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="chat.html" style="padding: 10px 0px;">Chat</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-e3fd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-clearfix u-custom-html u-custom-html-1">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
          <div class="container" style="width: 200%;">
            <div class="clearfix row">
              <div class="col-lg-12">
                <div class="card chat-app">
                  <div id="plist" class="people-list">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="chat-list list-unstyled mb-0 mt-2">
                      {{#each usersNew}}
                        <li class="clearfix">
                          <img src="{{foto}}" alt="avatar">
                          <div class="about">
                            <div class="name">{{nome}}</div>
                            <div class="status"><i class="fa fa-circle offline"></i> left 7 mins ago 
                            </div>
                          </div>
                        </li>
                      {{else}}
                        <h2>Sem chats</h2>
                      {{/each}}
                      <li class="clearfix">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                        <div class="about">
                          <div class="name">Vincent Porter</div>
                          <div class="status"><i class="fa fa-circle offline"></i> left 7 mins ago 
                          </div>
                        </div>
                      </li>
                      <li class="active clearfix">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                        <div class="about">
                          <div class="name">Aiden Chavez</div>
                          <div class="status"><i class="fa fa-circle online"></i> online 
                          </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                        <div class="about">
                          <div class="name">Mike Thomas</div>
                          <div class="status"><i class="fa fa-circle online"></i> online 
                          </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                        <div class="about">
                          <div class="name">Christian Kelly</div>
                          <div class="status"><i class="fa fa-circle offline"></i> left 10 hours ago 
                          </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="avatar">
                        <div class="about">
                          <div class="name">Monica Ward</div>
                          <div class="status"><i class="fa fa-circle online"></i> online 
                          </div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
                        <div class="about">
                          <div class="name">Dean Henry</div>
                          <div class="status"><i class="fa fa-circle offline"></i> offline since Oct 28 
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="chat">
                    <div class="chat-header clearfix">
                      <div class="row">
                        <div class="col-lg-6">
                          <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                          </a>
                          <div class="chat-about">
                            <h6 class="m-b-0">Aiden Chavez</h6>
                            <small>Last seen: 2 hours ago</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="chat-history">
                      <ul class="m-b-0">
                        <li class="clearfix">
                          <div class="message-data text-right">
                            <span class="message-data-time">10:10 AM, Today</span>
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                          </div>
                          <div class="float-right message other-message"> Hi Aiden, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix">
                          <div class="message-data">
                            <span class="message-data-time">10:12 AM, Today</span>
                          </div>
                          <div class="message my-message">Are we meeting today?</div>
                        </li>
                        <li class="clearfix">
                          <div class="message-data">
                            <span class="message-data-time">10:15 AM, Today</span>
                          </div>
                          <div class="message my-message">Project has been already finished and I have results to show you.</div>
                        </li>
                      </ul>
                    </div>
                    <div class="chat-message clearfix">
                      <div class="input-group mb-0">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-send"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter text here...">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript"></script>
        </div>
      </div>
    </section>
    
    
    
    
    
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-mockup" target="_blank">
        <span>Website Mockup</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/website-builder" target="_blank">
        <span>Best Website Builder</span>
      </a>. 
    </section>
  </body>

  <script>
    var name2 = "<%= usersNew %>"
    var nome = JSON.stringify(name2)
    console.log(nome)
</script>

</html>